<!-- template par défaut de présentation de liste -->
<br>
<div class="container defaultDescription">
    <h2 class="defaultTitle"><%=liste.nom%></h2>

    <% if (liste.description) {%>

    <p class="defaultP"><i class="material-icons">view_headline</i>Description </p>
    <div style="margin-left:50px;">  <%= liste.description%> </div>
     <% } %>


     
     <% if (liste.descriptionList) {%>
        <p class="defaultP"><i class="material-icons">event</i>Description</p>
        <div style="max-width: 1000px;margin: auto;">
        <ul style="text-align: left;">
            <% liste.descriptionList.forEach(idee => { %>
                <li> <%=idee%></li>
                <br>
            <% }); %>
        </ul>
        </div>
     <% } %>

    <% if (liste.membres) {%>
    <p class="defaultP"><i class="material-icons">accessibility</i>Liste des membres </p>
    <div style="max-width: 500px;margin: auto;">
    <ul style="text-align: left;">
        <% liste.membres.forEach(membre => { %>
            <li>• <%=membre%></li>
        <% }); %>
    </ul>
    </div>
    <% } %>

    <% if (liste.programmeList) {%>
        <p class="defaultP"><i class="material-icons">event</i>Programme de Mandat</p>
        <div style="max-width: 1000px;margin: auto;">
        <ul style="text-align: left;">
            <% liste.programmeList.forEach(idee => { %>
                <li>• <%=idee%></li>
                <br>
            <% }); %>
        </ul>
        </div>
     <% } %>


    <% if (liste.programme) {%>
    <p class="defaultP"><i class="material-icons">event</i>Programme de Mandat</p>
         <div style="margin-left:50px;"> <%=liste.programme%></div>
    <% }%>

    <% if (liste.socials) {%>
        <p class="defaultP"><i class="material-icons">share</i>Réseaux sociaux</p>
        <div style="display: flex;justify-content: space-around;">
        <% for (const [key, value] of Object.entries(liste.socials)) {%>
            <a style="flex-wrap:wrap;" href="<%=value%>"><%=key%></a>
        <% }%>
        </div>
    <% } %>
</div>