<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CAMPAGNES AEECL 2020</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="mystyle.css">
  <link rel="icon" href="img/icon.png" />
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
   <script type="module" src="/js/app.js"></script>
  <link rel="apple-touch-icon" href="/img/icons/icon-96x96.png">
  <meta name="apple-mobile-web-app-status-bar" content="#FFE1C4">
</head>
<body ng-app="app">
<nav id ="myNav" class="z-depth-0">
  <div class="nav-wrapper container">
    <span class="left">
      <i class="material-icons sidenav-trigger" data-target="side-menu" style="font-size:50px;">menu</i>
    </span>
    <span class ="right" style = "color : #ffffff;font-weight: bold;font-size: 1.5em;"> CAMPAGNES AEECL - 2020</span>
  </div>
</nav>

<ul id="side-menu" class="sidenav side-menu">
  <% for (const asso in data) {
    if (Object.hasOwnProperty.call(data, asso)) { %>

    <li style="margin-top: 5px;"></li>
    <li id ="sidemenu_tag"><a  class="waves-effect" href="#<%=asso%>" ><%=asso%></a></li>
    <% } %>
  <% } %>
  <li style="margin-top: 5px;"></li>
</ul>

<script>
  var app = angular.module("app", []);
</script>

<% for (const asso in data) {
  if (Object.hasOwnProperty.call(data, asso)) {
    const listes = data[asso]; %>

    <div id="<%=asso%>" class="section" ng-controller="<%=asso%>_Controller">

      <div class="center sectionTitle"> <%=asso%> </div>
      <div class="divider" id ="divide"></div>

      <div class="container cardsContainer ng-hide" ng-hide="<%=asso%>_cards" >

        <% listes.forEach((liste, i) => { %>
          <div class="card z-depth-4 listeCards">
            <a ng-click="<%=asso%>_display_liste<%=i%>()">
              <div class="card-image">
                <img src="img/<%=liste.logo%>">
              </div> 
            </a> 
          </div>
        <% }); %>

      </div>

      <% listes.forEach((liste, i) => { %>
        <div class="ng-hide listeDescription" ng-hide="<%=asso%>_liste<%=i%>">
          <a ng-click="<%=asso%>_display_cards()"> <i class="material-icons">undo</i>Retour aux autres listes</a>
          <%- include('liste.ejs', {liste: liste}); %>
          </div >
      <% }); %>

    </div>

    <script>
      //var app = angular.module("app", []);

      app.controller('<%=asso%>_Controller', function ($scope) {

        $scope.<%=asso%>_cards = false;

        <% listes.forEach((liste, i) => { %>
          $scope.<%=asso%>_liste<%=i%> = true;
        <% }); %>

        <% listes.forEach((liste, i) => { %>

          $scope.<%=asso%>_display_liste<%=i%> = () => {
            $scope.<%=asso%>_cards = true;

            <% listes.forEach((liste_1, j) => { %>
              $scope.<%=asso%>_liste<%=j%> = true; 
            <% }); %>

            $scope.<%=asso%>_liste<%=i%> = false;
          }

        <% }); %>

        $scope.<%=asso%>_display_cards = () => {
          $scope.<%=asso%>_cards = false;

          <% listes.forEach((liste_1, j) => { %>
              $scope.<%=asso%>_liste<%=j%> = true; 
          <% }); %>
        }
      })

    </script>

  <% } %>
<% }; %>

</body>
</html>
