<!-- https://gist.github.com/rcotrina94/7828886 -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vote - CAMPAGNES AEECL 2020</title>
    <link rel="stylesheet" href="css/vote.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/mystyle.css">
    <link rel="icon" href="img/icon.png" />
    <script src="/js/jquery.min.js"></script>
    <!-- Materialize compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <link rel="apple-touch-icon" href="/img/icons/icon-96x96.png">
    <meta name="apple-mobile-web-app-status-bar" content="#FFE1C4">

</head>

<body>

    <!-- navbar fixe en haut de l'écran-->
    <div class="navbar-fixed">
        <nav id="myNav" class="z-depth-0">
            <div class="nav-wrapper">
                <a style="position: absolute;top:0px;right:50px;color : #ffffff;font-weight: bold;font-size: 1.5em;"href="/">CAMPAGNES</a>
                <span style="position: absolute;left:40px;top:0px"><a href="/menu"><i class="material-icons sidenav-trigger" style="font-size:2em;">keyboard_backspace</i></a></span>
            </div>
        </nav>
    </div>

    <!--<form class="" action="/next" id="next" method="post">

        <p id="question_par"></p>
        <div class="" id="answers_buttons"></div>

        <% for (const asso in data) { if (Object.hasOwnProperty.call(data, asso)) { const listes=data[asso]; %>

            <h2>
                <%=asso%>
            </h2>

            <%listes.forEach((liste, i)=> {%>
                <input type="radio" id="<%=i%>" name="<%=asso%>" value="<%=i%>">
                <label for="<%=i%>">
                    <%=liste.nom%>
                </label><br>
                <%}); %>

                    <select name="<%=asso%>" id="<%=asso%>">
                        <%listes.forEach((liste, i)=> {%>
                            <option value="<%=i%>">
                                <%=liste.nom%>
                            </option>
                            <%}); %>
                    </select>

                    <div class="cc-selector">

                        <%listes.forEach((liste, i)=> {%>
                            <input id="<%=i%>_<%=asso%>" type="radio" name="<%=asso%>" value="<%=i%>_<%=asso%>" />
                            <label class="drinkcard-cc visa" for="<%=i%>_<%=asso%>"
                                style="background-image:url(/img/<%=liste.logo%>);"></label>
                            <%}); %>

                    </div>

                    <%} }%>

    </form>-->

    <div class="center">
        <h4>Il est obligatoire de choisir un scrutin pour chacun des votes proposés. Une fois ton vote soumis, tu ne
            pourras plus le modifier.</h4>
    </div>

    <form class="center" action="/vote_post" method="post">

        <% for (const asso in data) { if (Object.hasOwnProperty.call(data, asso)) { const listes=data[asso]; %>

            <div class="cc-selector">
                <h5 class="">
                    <%=asso%> :
                </h5> <!--  nom de l'asso-->

                <%listes.forEach((liste, i)=> {%>
                    <input id="<%=i%>_<%=asso%>" type="radio" name="<%=asso%>" value="<%=i%>" />
                    <label class="drinkcard-cc tooltipped z-depth-5" for="<%=i%>_<%=asso%>"
                        data-tooltip="<%= liste.nom %>"
                        style="<%= liste.pipo ? 'box-shadow: 10px 10px 5px red;' : 'box-shadow: 10px 10px 5px green;' %>"><img
                            src="/img/<%=liste.logo%>" alt="" width="100px"></label>
                    <%}); %>

                        <input id="blanc_<%=asso%>" type="radio" name="<%=asso%>" value="<%=listes.length%>" checked />
                        <label class="drinkcard-cc tooltipped z-depth-5" for="blanc_<%=asso%>" data-tooltip="vote blanc"
                            style="box-shadow: 10px 10px 5px blue;"><img src="/img/vote_blanc.png" alt="Vote blanc"
                                width="100px"></label>

            </div>

            <%} }%>

                <button class="waves-effect waves-light btn-large" type="submit" name="action" id="submit_vote"
                    onclick="M.toast({html: 'vote envoyé'})"> À voter
                    <i class="material-icons right">send</i>
                </button>
    </form>

    </div>

    <script src="js/vote.js"></script>

</body>

</html>